@import "../../../../theme/fuse";

.test-suite-dialog {

    .invisible{
        display: block;
        visibility: hidden;
        height: 0;
        width: 0;
    }
    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }
        .mat-form-field {    
            font-size: 12px;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .mat-dialog-actions
    {
        margin-bottom: 0px;
    }

    .mat-dialog-content{
        margin:0px;
    }
    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
}
