@import "../../theme/fuse.scss";

#design {
    height: calc(100vh - 80px);
    width : calc(100vh-20px);

  //  .mat-drawer-inner-container
   // { overflow:hidden }

    .header {

        .logo-text{ margin-left: 10px;}
        padding: 24px;
        
    }

    .center {
        padding: 32px !important;
      //  max-width: 1400px;
        margin: 0 auto;

      
        .content-card {
            top:40px;
            position: relative;
            display: flex;
            flex: 1;
            border-radius: 8px;

            .mat-sidenav-container {
                display: flex;
                flex: 1;
                width: 100%;

                > .mat-sidenav-content,
                > .mat-drawer-content {
                    display: flex;
                    flex: 1 1 auto;
                    min-height: 100%;
                    height: auto;
                }

                > .mat-drawer-content {
                    max-width: 100%;
                }

                mat-sidenav {
                    display: flex;
                    width: 300px;
                    max-width: 90%;
                    overflow: hidden;
                }
            }
        }
    }
}
