<div id="design" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">
    <!-- CONTENT CARD -->
    <div class="content-card">
      <mat-sidenav-container>
        <mat-sidenav #suitepanel mode="side" class="mat-elevation-z2" mode="side" opened="true">
          <app-design-test-suite (SelectedSuite)="onSelectedSuite($event)"></app-design-test-suite>
        </mat-sidenav>

        <div class="mat-elevation-z2" style="width:100%">
          <app-design-test-case (SelectedTest) ="onSelectedTest($event)" [suite]="selectedSuite" [testcases]="testcases" [suitepanel]="suitepanel"></app-design-test-case>
        </div>

        <mat-sidenav style="width: 500px;" class="sidenav" position="end"  class="mat-elevation-z2" opened="true" mode="side">
          <app-design-test-step [teststeps]="teststeps" [testcase]="selectedTest"></app-design-test-step>
        </mat-sidenav>

      </mat-sidenav-container>
    </div>
  </div>
</div>