<div>
  <!--   TOOLBAR -->
  <mat-toolbar>
    <!-- TOOLBAR TOP -->
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <!-- USER AVATAR WRAPPER -->
      <button mat-icon-button (click)="ToggleSuitePanel()">
        <mat-icon>menu</mat-icon>
        <span *ngIf="!suite"> Test Cases</span>
      </button>
      <span class="suitename" *ngIf="suite"> {{suite.group}} >> {{ suite.name }}</span>
      <div *ngIf="suite">
        <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="more">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="AddTestCase()">
            Add Test Case
          </button>
          <button mat-menu-item (click)="executeTest()">
            Execute Tests
          </button>

        </mat-menu>
      </div>

    </mat-toolbar-row>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <mat-toolbar-row>

      <!-- SEARCH -->
      <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="s-16 secondary-text">search</mat-icon>
          <input #testsearch matInput type="text" placeholder="Search test case" fxFlex>
        </div>

      </div>
      <!-- / SEARCH -->

    </mat-toolbar-row>
    <!-- / TOOLBAR BOTTOM -->

  </mat-toolbar>
  <!-- /   TOOLBAR -->
  <div class="contact" *ngIf="testcases">
    <button fxLayout="column" (click)="selectTest(test)" mat-button class="contact" *ngFor="let test of testcases | filter: testsearch.value"
      [@animate]="{value:'*',params:{y:'100%'}}" [ngStyle]="{'color': test.active?'':'lightgrey'}">

      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="pr-4" style="width:80%" fxLayout="column" fxLayoutAlign="center start">
          <div class="contact-name">{{test._id}}. {{test.name}}</div>
          <div style="width:90%" class="contact-last-message text-truncate">{{test.description}}</div>
          <div class="labels" fxLayout="row wrap" fxHide fxShow.gt-sm>
            <div class="label" *ngFor="let tags of test.tags"
                 fxLayout="row" fxLayoutAlign="start center">
                <div class="label-color"
                     [ngStyle]="{'background-color': 'red'}"></div>
                <div class="label-title">{{tags}}</div>
            </div>
        </div>
            </div>

        <div fxFlex="row" fxLayoutAlign="end center" class="contact-last-message-time">

          <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
            <mat-icon class="secondary-text">more_vert</mat-icon>
          </button>

          <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="remove" (click)="editTest(test)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item aria-label="remove" (click)="deleteTest(test)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item aria-label="remove" (click)="copyTest(test)">
              <mat-icon>file_copy</mat-icon>
              <span>Copy Test</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </button>
  </div>
</div>
