@import "../../../theme/fuse.scss";

app-design-test-case {
  display: flex;
  flex: 1;
  flex-direction: column;

  .mat-button-wrapper {
    width: 100%;
  }
  .contact {
    width: 100%;
    white-space: normal;
    text-align: left;
    letter-spacing: 0.01em;
    min-height: 50px;
    background-color: white;
    border-bottom: 1px solid;
    padding: 12px;
    font-weight: 400;
    border-radius: 0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
   
    mat-icon {
      font-size: 14px;
    }

    .contact-name {
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .contact-last-message {
      font-size: 10px;
      line-height: normal;
      margin-top: 0;
      color: rgba(0, 0, 0, 0.54);

      mat-icon {
        font-size: 14px;
      }
    }
    .labels {
        margin-top: 8px;

        .label {
            font-size: 11px;
            border-radius: 4px;
            margin: 0 4px 0 0;
            padding: 3px 8px;
            background-color: whitesmoke;

            .label-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }
    }
  }

  mat-toolbar {
    font-size: 16px;

    .mat-icon {
      font-size: 18px;
    }

    .suitename {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;
    }

    .mat-toolbar-row {
      font-size: 14px;
      height: 40px;
      padding-top: 15px;
      padding-bottom: 12px;
    }

    .search {
      height: 25px;
      line-height: 25px;
      padding: 8px;
      font-size: 13px;
      border-radius: 18px;
      border: 1px solid;
      overflow: hidden;
      color: darkgray;
      .mat-icon {
        margin: 0;
      }

      input {
        padding: 0 12px 0 8px;
        height: 25px;
        border: none;
        background: whitesmoke;
      }
    }
  }
}

.sidenav-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .no-results-message {
    position: absolute;
    width: 100%;
    height: 88px;
    padding: 16px;
    font-size: 15px;
    font-weight: 400;
  }
}
