<div class="sidenav-container">
    <!-- TOOLBAR -->
    <mat-toolbar>
        <!-- TOOLBAR TOP -->
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <!-- USER AVATAR WRAPPER -->
            <div>
                <mat-icon>inbox</mat-icon> Test Suites
            </div>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="AddTestSuite()">
                        <mat-icon>add</mat-icon>
                        <span>Add Suite</span>
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar-row>
        <!-- / TOOLBAR TOP -->
        <!-- TOOLBAR BOTTOM -->
        <mat-toolbar-row>
            <!-- SEARCH -->
            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="s-16 secondary-text">search</mat-icon>
                    <input type="text" #suitesearch matInput placeholder="Search test suite" fxFlex>
                </div>
            </div>
            <!-- / SEARCH -->
        </mat-toolbar-row>
        <!-- / TOOLBAR BOTTOM -->
    </mat-toolbar>
    <!-- / TOOLBAR -->
    <!--  CONTENT -->
    <div  class="sidenav-content ng-tns-c261-80 ps">
        <!-- SUITES CONTENT -->
        <div [@animateStagger]="{value:'50'}" FlexPerfectScrollbar>
            <!-- CHATS LIST-->
            <mat-accordion>
                <mat-expansion-panel *ngFor="let data of suitesHierarchy | filter: suitesearch.value">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>folder</mat-icon>
                            {{ data.name }}
                        </mat-panel-title>
                        <mat-panel-description class="contact-last-message">
                            {{ data.children.length }} suites
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <button fxLayout="column" (click)="SelectSuite(suite)" mat-button class="contact" *ngFor="let suite of data.children"
                        [@animate]="{value:'*',params:{y:'100%'}}">

                        <div fxLayout="row" fxLayoutAlign="start center">

                            <div class="pr-4"  style="width:80%" fxLayout="column" fxLayoutAlign="center start">
                                <div class="contact-name">{{suite.name}}</div>
                                <div  style="width:80%" class="contact-last-message text-truncate">{{suite.description}}</div>
                            </div>

                            <div fxFlex="row" fxLayoutAlign="end center" class="contact-last-message-time">
                
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                        (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>
                
                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item aria-label="remove" (click)="deleteSuite(suite)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                    <button mat-menu-item aria-label="remove" (click)="editSuite(suite)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item aria-label="remove" (click)="editSuite(suite)">
                                        <mat-icon>play_circle_outline</mat-icon>
                                        <span>Execute</span>
                                    </button>
                                </mat-menu>
                            </div>
                            
                        </div>

                    </button>

                </mat-expansion-panel>
            </mat-accordion>

            <!-- / SUITES LIST-->

            <!-- NO RESULTS MESSAGE -->
            <div class="no-results-message" *ngIf="suitesHierarchy === null">
                No suites..
            </div>
            <!-- NO RESULTS MESSAGE-->
        </div>

    </div>