@import "../../../theme/fuse.scss";

app-design-test-suite {
  display: flex;
  flex: 1;
  flex-direction: column;

  mat-toolbar {
    .avatar-wrapper {
      .avatar,
      .status {
        cursor: pointer;
      }
    }

    .search {
      height: 36px;
      line-height: 36px;
      padding: 8px;
      font-size: 13px;
      border-radius: 18px;
      border: 1px solid;
      overflow: hidden;
      color: darkgray;
      .mat-icon {
        margin: 0;
      }

      input {
        padding: 0 12px 0 8px;
        height: 36px;
        border: none;
        background: whitesmoke;
      }
    }
  }

  .mat-button-wrapper {width : 100%;}
  .contact {
    width: 100%;
    white-space: normal;
    text-align: left;
    letter-spacing: 0.01em;
    min-height: 88px;
    border-bottom: 1px solid;
    padding: 16px;
    font-weight: 400;
    border-radius: 0;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    margin-left: -20px;
    width: 115%;

    .contact-name {
      font-size: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .contact-last-message {
      line-height: normal;
      margin-top: 0;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .sidenav-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    flex: 1 1 1e-9px;
    box-sizing: border-box;
  }
  .mat-icon {
    font-size: 18px;
  }

  .mat-expansion-panel-header {
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    mat-icon {
      font-size: 18px;
      font-style: oblique;
      margin-right: 10px;
      color: cadetblue;
    }
    mat-panel-description{
      font-size: 12px;
      
    }
  }
}

.no-results-message {
  position: absolute;
  width: 100%;
  height: 88px;
  padding: 16px;
  font-size: 15px;
  font-weight: 400;
}
