<div id="actions" class="page-layout simple inner-scroll">

  <!-- HEADER -->
  <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <!-- APP TITLE -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">offline_bolt
        </mat-icon>
        <div class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          {{componentlib.name}} - Actions
        </div>
      </div>

    </div>
    <button mat-raised-button class="save-envirionment-button" [routerLink]="'/components'" >
              <span>BACK</span>
    </button>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content" FlexPerfectScrollbar>
    <!-- CENTER -->
    <div class="center p-24 pb-56 pr-sm-92">
      <!-- CONTENT -->
      <div class="content">
        <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

          <!--  Avatar Column -->
          <ng-container matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let action">
              <div class="avatar accent">{{action.name[0]}}</div>
              <mat-icon class="s-16 status" [ngClass]="action.active"></mat-icon>
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let action">
              <p class="text-truncate font-weight-600">{{action.name}}</p>
            </mat-cell>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let action">
              <p class="text-truncate ">{{action.description}}</p>
            </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
            <mat-cell *matCellDef="let action">
              <p class="text-truncate ">{{action.active}}</p>
            </mat-cell>
          </ng-container>


          <!-- Buttons Column -->
          <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let action">
              <div fxFlex="row" fxLayoutAlign="end center">

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                  (click)="$event.stopPropagation();">
                  <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                  <button mat-menu-item aria-label="remove" (click)="deleteAction(action)">
                    <mat-icon>delete</mat-icon>
                    <span>Remove</span>
                  </button>
                </mat-menu>
              </div>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let action; columns: displayedColumns;" class="action" (click)="editAction(action)"
            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
            
          </mat-row>
        </mat-table>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
  </div>
  <!-- / CONTENT-->


<!-- ADD User BUTTON -->
<button mat-fab class="accent" id="add-action-button" (click)="addAction()" aria-label="add action"
  [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
  <mat-icon>add</mat-icon>
</button>
<!-- / ADD User BUTTON -->
</div>